/*
	LAYOUT
*/
.column{
	margin-left:20px;
}
.small-column{
	width:200px;
}
.medium-column{
	width:500px;
}
.large-column{
	width:700px
}
.first-column{
	margin-left:0;
}


a{
	color:#231f20;
	text-decoration:none;
}
h1, h2 {
	font-family: 'Terminal Dosis', sans-serif;
	font-size:23px;
	font-weight: normal;
	padding: 0 0 10px 0;
}
h3,h4{
	font-family: 'Terminal Dosis', sans-serif;
	font-size: 17px;
	font-weight: normal;
    padding: 0 0 10px 0;
}


html,
body{
	height:100%;
}
body {
	background: #fff;
}
#page-container{
    width: 980px;
    margin: 0 auto;
    background: transparent url(../image/bg-fade.png) left top repeat-y;
	padding: 0 20px;
}
#page-header {
	background-color: #fff;
	position: relative;
	height: 200px;
}
#page-content{
	background: #fff;
	padding-bottom:130px;
	padding: 20px;
}
#page-footer{
	width: 100%;
	background-color: #333;
	height: 90px;
	padding-top: 20px;
	
  	-webkit-border-radius: 0 0 10px 10px; 
    -moz-border-radius: 0 0 10px 10px;  
    border-radius: 0 0 10px 10px; 
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
}

/* HEADER */
#logo {
	padding: 20px 0 0 20px;
}
#header-tools {
	position: absolute;
	right: 12px;
	top: 20px;
}
#header-tools a {
	display: block;
    padding-left: 20px;
}
#header-tools a:hover,
#header-tools a:focus {
    text-decoration: underline;
}
#header-tools a.lang-en {
	background: #fff url(../image/flag-en.png) left top no-repeat;
}
#header-tools a.lang-se {
	background: #fff url(../image/flag-se.png) left top no-repeat;
}
#header-tools a.facebook {
    background: #fff url(../image/facebook.png) left top no-repeat;
}
#top-nav {
	position: absolute;
	bottom: 10px;
	left: 20px;
}
#top-nav li {
	float: left;
	background-color: #000;
	margin-top: 0px;
	margin-right: 10px;
	padding: 4px 10px;

  	-webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
}
#top-nav li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;

}

#top-nav li a:hover,
#top-nav li a:focus,
#top-nav li.current-menu-item a {
	text-decoration: underline;
}
#top-nav img {
	height: 14px;
	margin: 2px 0 0 8px;
}
/* CONTENT */
.content {
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.content a {
	border-bottom: 1px dashed #FF9C07;
}
/*
.context {
	border-bottom: 1px solid #999;
}

.article {
	padding: 0 0 30px;
}
*/
.article .header {
	margin-bottom: 10px;
}
.article .header h2 {
	font-size: 19px;
	padding-bottom: 5px;
}
.article .time,
.article .category a {
	font-size: 12px;
	color: #6f6f6f;
}
.article-image {
	text-align: center;
	margin: 20px 0;
}
.article-image img {
	max-width: 100%;
	height: auto;
}
.article-image-small {
	float: right;
	margin-left: 20px;
}

/* CONTACT */
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
	width: 250px;
    padding: 4px 0;
    text-indent: 4px;
    border: 1px solid #888;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.textwidget .wpcf7-form-control-wrap input,
.textwidget .wpcf7-form-control-wrap textarea {
	width: 198px;
}
/* SIDEBARS */
.widget-article {
	padding: 0 0 30px 0;
}
.widget-article h2 {
	padding: 0 0 10px 0;
}
.jigoshop_product_categories ul {
	list-style: none;
	padding: 0;
}
.jigoshop_product_categories ul ul {
	display: block;
	padding: 5px 10px;
}
.jigoshop_product_categories ul a {
	font-size: 14px;
	text-decoration: none;
}
.widget_az_filter ul {
	list-style: none;
	padding: 0;
}
.widget_az_filter ul li{
	display: inline-block;
}
.widget_az_filter ul a {
	font-size: 14px;
	line-height: 20px;
	padding: 3px 4px 3px 0;
}
.widget_az_filter ul a.selected-letter {
	background-color: #333;
	color: #fff;
	padding: 3px 4px;
	margin-right: 4px;
}
/* FOOTER */

#page-footer p {
	text-align: center;
	color: #fff;
	font-size: 26px;
    line-height: 20px;
    padding: 5px 0;
}
#page-footer p.contact-info {
    font-size: 12px;
}
#footer-nav ul {
	width: 200px;
	margin: 0 auto;
}

#footer-nav li {
	float: left;
	margin-right: 10px;
}
#footer-nav li a {
	color: #d3d3d3;
	text-decoration: underline;
}
/* WP */
/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* SHOP */
.size-guide-link {
	color: #f00;
	font-weight: bold;
}
.assistive-text {
    display: none;
}
.custom-filter {
	padding: 10px 0;
}
.custom-filter .filter {
	display: inline-block;
	padding-right: 10px;
	line-height: 20px;
}
.filter-cd {
	background: transparent url(../image/disc.png) left top no-repeat;
	padding-left: 20px;
}
.filter-vinyl {
	background: transparent url(../image/disc-vinyl.png) left top no-repeat;
	padding-left: 20px;
}
.filter-samling-compilations {
	background: transparent url(../image/discs.png) left top no-repeat;
	padding-left: 20px;
}
#amty .textwidget .products li {
	margin-bottom: 5px;
}
#amty .products li {
	width: 117px;
}
#amty .products li a img {
	width: 100px!important;
	height: 100px!important;
}
#amty div.product div.images {
	width: 200px;
}
#amty div.product div.images img {
	width: 150px;
	height: auto;
}
#amty div.product div.images div.thumbnails img {
	width: 45px;
	height: auto;
}
#amty div.product p.stock {
	display: none;
}
#amty form.cart div.quantity {
	margin: 5px 0;
}
#amty form.cart .button-alt {
	clear: both;
    padding: 6px;
}
#amty .product_meta {
	clear: both;
}
#amty .product_meta .sku {
	display: none;
}
#amty .product_meta .posted_in {
	display: block;
}
#amty .product_meta .tagged_as {
	display: block;
}
#amty td.actions .coupon {
	display: none;
}
#amty .quantity input.qty {
	height: 15px;
}
#amty div.product #tabs ul.tabs {
	border-bottom: 1px solid #ddd;
	background: #fff;
	padding: 4px 0 0 0;
}
#amty div.product #tabs ul.tabs a {
	font-size: 12px;
}
#amty div.product #tabs ul.tabs li.active a {
	background-color: #ddd;
	color: #333;
}
#amty a.button,
#amty button.button,
#amty input.button,
#amty #review_form #submit {
	padding: 6px;
    margin: 4px 2px 0 0;
}
#amty .button-alt {
    padding: 6px;
	border: 0;
    margin: 4px 0 0 6px;
}
#amty .checkout-button {
    margin-top: 0;
}
#amty .products li .price {
    text-align: left;
    float: none;
}
#amty .price_slider_amount .button {
    float: none;
    display: block;
    margin: 10px 0;
}
#amty .navigation .nav-next {
	float: right;
}
#amty form.cart .variations select {
    float: left;
    width: 100%;
    margin: 6px 0;
	border: 1px solid #888;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	padding:  4px 4px 4px 0;

}
#amty #checkout-form {
    position: static!important;
}
#amty .form-row {
    position: relative;
}
#amty .form-row-full {
    width: 100%;
}
#amty #place_order.button-disabled {
    background-color: #000;
}
.error-message {
    display:none;
    position: absolute;
    left: 200px;
    top: 50px;
    width: 150px;
    background: #F1521F;
    color: white;
    padding: 3px 10px;
}
/* SEARCH FORM / NEWSLETTER FORM */
#searchform .screen-reader-text {
	display: none;
}
#s {
	float: left;
	width: 145px;
    padding: 4px 0;
    text-indent: 4px;
    border: 1px solid #888;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#newsletter-input {
    float: left;
    width: 149px;
}
#searchsubmit,
#newsletter-submit {
	float: left;
	width: 45px;
	background: none repeat scroll 0 0 green;
    border: medium none;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 1em;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

/* WP PAGENAVI */
.wp-pagenavi {
	clear: both;
	text-align: center;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}